{% extends "base.html" %}
{% block content %}
<form action="{{action}}" method="POST">
  <label>Class Name</label>
  <input type="text" maxlength="60" id="className" name="className"
  {% if className is defined %}
    value="{{className}}"
  {% else %}
    placeholder="A class name..."
  {% endif %}
  />
  <label>Description</label>
  <textarea maxlength="60" id="classDesc" name="classDesc"
  {% if classDesc is defined %}
    >{{classDesc}}</textarea>
  {% else %}
    placeholder="A description of your class..."></textarea>
  {% endif %}
  <label>Class order</label>
  <input type="number" id='classOrder' name='classOrder' step="1"
  {%  if maxClassOrder is defined %}
    value="{{maxClassOrder}}"
  {% elif classOrder is defined %}
    value="{{classOrder}}"
  {% else %}
    value="0"
  {% endif %}
  />
  <label>Class colour</label>
  <input type="color" id="classColour" name="classColour"
  {% if classColour is defined %}
    value="{{classColour}}"
  {% else %}
    value="#000000"
  {% endif %}
  />
  <input type="submit" value="{{submitMsg}}"/>
</form>
{% endblock %}