{% extends "base.html" %}
{% block content %}
<ul>
{% for classId, theClass in theClasses.items() %}
  <li>
    <strong>{{ theClass['name'] }} : </strong>
    <p>{{ theClass['desc'] }}</p>
    <ul>
      <li><a href="/classes/list/{{ classId }}">List</a></li>
      <li><a href="/classes/update/{{ classId }}">Update</a></li>
      <li><a href="/classes/edit/{{ classId }}">Edit</a></li>
      <li><button hx-confirm="Are you sure?"
           hx-delete="/classes/delete/{{ classId }}"
           hx-trigger="click"
           hx-redirect="/classes/list"
           hx-refresh="true"
           >Delete</button></li>
    </ul>
  </li>
{% endfor %}
</ul>
{% endblock %}