{% extends "base.html" %}
{% block content %}
<form action="/classes/update" method="POST">
<table>
  <tr>
    <th>First name</th>
    <th>Family name</th>
    <th>Cohort</th>
    <th>Old Class</th>
    <th>New Class</th>
  </tr>
{% for aRow in results %}
  <tr>{# aRow['borrowers_id'] is the id #}
    <td>{{ aRow['firstName'] }}</td>
    <td>{{ aRow['familyName'] }}</td>
    <td>{{ aRow['cohort'] }}</td>
    <td>{{ aRow['classes_name'] }}</td>
    <td>
      <select name="row-{{aRow['borrowers_id']}}" id="row-{{aRow['borrowers_id']}}">
        {% for aClass in classes %}
        <option value="rowClass-{{aRow['borrowers_id']}}-{{aClass['id']}}" {{aClass['selected']}} >{{aClass['name']}}</option>
        {% endfor %}
      </select>
    </td>
  </tr>
{% endfor %}
</table>
<input type="submit" value="Save changes"/>
</form>
{% endblock %}