{% extends "base.html" %}
{% block content %}
<ul>
  <li><strong>Borrowers :</strong>
    <ul>
      <li>
        <a href="/borrowers/new">Add new users</a>
      </li>
      <li>
        <a href="/borrowsers/list">List existing borrowers</a>
      </li>
    </ul>
  </li>
  <li><strong>Classes :</strong>
    <ul>
      <li>
        <a href="/classes/new">Add a new class</a>
      </li>
      <li>
        <a href="/classes/list">List existing classes</a>
      </li>
    </ul>
  </li>
  <li><strong>Circulation :</strong>
    <ul>
      <li>
        <a href="/books/takeOut">Take books <strong>out</strong> of the library</a>
      </li>
      <li>
        <a href="/books/return">Return books <strong>to</strong> the library</a>
      </li>
    </ul>
  </li>
  <li><strong>Cataloguing :</strong>
    <ul>
      <li>
        <a href="/books/new">Add new books to the library</a>
      </li>
      <li>
        <a href="/books/list">List the books that the library owns</a>
      </li>
    </ul>
  </li>
</ul>
{% endblock %}