[Unit]
Description=Run the All Saints Simple School Lirbary
After=network.target

[Service]
WorkingDirectory=/home/<aUser>/<aPath>/simple-school-library
ExecStart=/home/<aUser>/<aPath>/simple-school-library/.venv/bin/schoolLibSystemd

[Install]
WantedBy=default.target
