{% extends "base.html" %}
{% block content %}
<form action="{{formAction}}" method="{{formMethod}}">

  <label>First Name</label>
  <input type="text" maxlength="60" id="firsName" name="firsName"
  {% if firsName is defined %}
    value="{{firsName}}"
  {% else %}
    placeholder="A first name..."
  {% endif %}
  />

  <label>Family name</label>
  <input type="text" maxlength="60" id="familyName" name="familyName"
  {% if familyName is defined %}
    value="{{familyName}}"
  {% else %}
    placeholder="a family name..."
  {% endif %}
  />

  <label>Cohort (year entered education)</label>
  <input type="text" maxlength="60" id="cohort" name="cohort"
  {% if cohort is defined %}
    value="{{cohort}}"
  {% else %}
    placeholder="The year of entry into education..."
  {% endif %}
  />

  <label>Class</label>
  <select name="assignedClass" id="assignedClass">
  {% for aClass in classes %}
    <option value="{{aClass['id']}}" {{aClass['selected']}} >{{aClass['name']}}</option>
  {% endfor %}
  </select>

  <input type="submit" value="{{formSubmitMsg}}"/>
</form>
{% endblock %}